@import "variables.scss";
@import url('https://fonts.googleapis.com/css?family=Lato|Teko&subset=latin-ext');
* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato';
    margin: 0;
    padding: 83px 0 0;
    @media (max-width: 768px) {
        padding: 0;
    }
}

.container {
    max-width: 1194px;
    margin: 0 auto;
    padding: 15px;
    &--flex {
        display: flex;
        @media (max-width: 768px) {
            display: block;
        }
    }
}

.navigation {
    height: 83px;
    background: #fff;
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    align-items: center;
    z-index: 10;
    &__wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        @media (max-width: 768px) {
            display: block;
            margin: 20px 0 0;
        }
    }
    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
            display: block;
        }
    }
    &__link {
        font-family: Teko;
        font-size: 26px;
        color: $scorpion;
        text-decoration: none;
        display: inline-block;
        margin: 0 10px;
        &--active {
            color: $ferra;
            text-decoration: underline;
        }
        &--hidden {
            opacity: 0;
            visibility: hidden;
        }
    }
    @media (max-width: 768px) {
        position: static;
        height: auto;
    }
}

.hero {
    height: calc(100vh - 83px);
    min-height: 400px;
    background: url('/img/bg.png') top center;
    background-size: cover;
    position: relative;
    &__header {
        margin: 80px 0 0 100px;
        color: #fff;
        font-family: Teko;
        font-weight: normal;
        overflow: hidden;
        @media (max-width: 768px) {
            margin: 0;
        }
    }
    &__first-line {
        display: block;
        float: left;
        font-size: 56px;
        line-height: 56px;
        padding: 10px 20px;
        margin-bottom: 5px;
        background: $mako;
    }
    &__second-line {
        display: block;
        clear: left;
        float: left;
        font-size: 36px;
        line-height: 36px;
        background: $pale-sky;
        padding: 10px 20px;
    }
    &__add {
        position: absolute;
        width: 170px;
        height: 170px;
        display: flex;
        padding: 15px;
        background: $mako;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-family: Teko;
        font-size: 36px;
        line-height: 36px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        bottom: 80px;
        right: 230px;
        @media (max-width: 768px) {
            position: static;
            clear: left;
            margin: 50px auto;
        }
    }
}

.header {
    color: $dove-gray;
    font-family: Teko;
    font-size: 70px;
    line-height: 70px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    &--centered {
        text-align: center; // dla wawrza z dedykacją :*
    }
}

.brief {
    padding: 70px 0 30px;
    background: $gallery;
}

.text {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.3px;
    color: $dove-gray;
    &--centered {
        text-align: center;
    }
    &--columns {
        column-count: 2;
        column-gap: 60px;
        @media (max-width: 768px) {
            column-count: 1;
        }
    }
}

.centered {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background: $mako;
    color: #fff;
    font-family: Teko;
    font-size: 30px;
    max-width: 370px;
    width: 100%;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    transition: transform 0.2s ease-in;
    will-change: transform;
    &:hover {
        transform: scale(1.02);
    }
    // tak nie robimy
    img {
        display: inline-block;
        margin-right: 20px;
    }
}

.contest {
    padding: 60px 0;
    background: $mercury;
    &__link {
        color: $terracotta;
    }
}

.add {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/img/sky.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.bird {
    position: absolute;
    width: 100%;
    display: block;
    z-index: 0; 
    bottom: 0;
    left: 0;
}

.contact {
    background: $gallery;
    &__columns {
        column-count: 3;
        @media (max-width: 768px) {
            column-count: 1;
        }
    }
    &__column {
        break-inside: avoid;
        margin: 20px 0;
    }
}

.boats {
    background-color: $gallery;
    position: relative;
    height: 550px;
    width: 100%;
    display: block;
    overflow-x: hidden;
}

.boat {
    position: absolute;
    transform-origin: bottom center;
    // transform: rotate(-24deg);
    animation-name: boat;
    animation-iteration-count: infinite;
    &--first {
        right: 70%;
        bottom: 230px;
        animation-duration: 6s;
    }
    &--second {
        bottom: 80px;
        left: 60%;
        animation-duration: 4s;
    }
}

@keyframes boat {
    0% {
        transform: rotate(-24deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(-24deg);
    }
}

.wave {
    width: 200%;
    height: 200px;
    margin-left: -50%;
    background-repeat: repeat-x;
    position: absolute;
    animation-name: wave;
    animation-iteration-count: infinite;
    background-position: top center;
    &--first {
        background-image: url('/img/wave-1.png');
        bottom: 100px;
        animation-duration: 4.5s;
    }
    &--second {
        background-image: url('/img/wave-2.png');
        bottom: 50px;
        animation-duration: 4s;
    }
    &--third {
        background-image: url('/img/wave-3.png');
        bottom: 0;
        animation-duration: 3.5s;
    }
}

@keyframes wave {
    0% {
        transform: translateX(50px);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(50px);
    }
}
